# Temporary Unity files
build_Data/
Library/
Temp/
*.unityproj

# Temporary Visual Studio / MonoDevelop files
bin/
obj/
*.csproj
*.pidb
*.sln
*.suo
*.unityproj
StyleCop.Cache

# We don't want to commit executables.
*.exe
